.navbar {
  background-color: #11009e;
}

.jumbotron {
  padding-top: 8rem;
  background-color: white;
}
.footer {
  background-color: #fff;
  margin-bottom: 0rem;
}

#footerp {
  margin-bottom: 0rem;
}

#berita {
  background-color: white;
}
#h2aboutindex {
  color: #fff;
}

#pabout {
  color: #fff;
}
#about {
  background-color: #11009e;
  padding-top: 5rem;
}

#aboutevent {
  background-color: #f2e3db;
}

#pesan {
  background-color: white;
}

.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#event {
  background-color: #11009e;
}

#card-body {
  background-color: #263a29;
}

.btnkirim:hover {
  background-color: #11009e;
  color: #fff;
}

h1 {
  color: #11009e;
}

h2 {
  color: #11009e;
}
h3 {
  color: #11009e;
}

h5 {
  color: #11009e;
}
p {
  color: #11009e;
}

pre {
  color: #11009e;
}

mark {
  background-color: #11009e;
  color: white;
}
